@charset "utf-8";
/* CSS Document */
p
{
	padding:5px;
	-webkit-margin-before: 0;
-webkit-margin-after: 0;
margin:0px;
}
a, span, p
{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
ul
{
	list-style:none;
	display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 30px;
}
.clear
{
	clear:both;
}
body{
	background-image:url(../img/bgr.png);
	background-repeat:repeat;
}
#header
{
	margin:auto;
	width: 1100px;
	overflow:hidden;
	margin-top:20px;
}
#header #logo
{
	margin-left:20px;
	float:left;
	width:10%;
}
#header #caption
{
	float:left;
	margin-left:20px;
	width:40%;
	margin-top:10px;
}
#header #lang
{
	float:left;
	width:15%;
	margin-left:100px;
	margin-top:30px;
}
#header #lang a
{
	margin-left:10px;
}
#header #cart
{
	background-color:rgba(0,0,0,0.2);
	width:20%;
	height:100px;
	float:left;
	border-radius: 5px;
}
#wrap-navi
{
	height:82px;
	background-image:url(../img/navi_bgr.jpg);
	background-repeat:repeat-x;
	margin-top:10px;
	overflow:hidden;
}
#navi
{
	width:1100px;
	margin:auto;
	overflow:hidden;
	height:82px;		
}
#wrap-navi #navi #menu
{
	width:70%;
	float:left;
	height:82px;
	line-height:82px;
	overflow:hidden;
	margin-left:20px;
}
#wrap-navi #navi #menu ul
{
	list-style:none;
	display:inline;
	height:82px;
		
		
}
#wrap-navi #navi #menu ul li
{
	float:left;

}
#wrap-navi #navi #menu ul li a
{
	color:white;
	font-size:24px;
	margin-right:40px;
}
#wrap-navi #navi #search
{
	width:15%;
	float:right;
	color:white;
}
#content 
{
	width:1100px;
	margin:auto;
	background-color:white;
	position:relative;
	border-radius: 5px;
	top:-15px;
	overflow:hidden;
}
#content #flash
{
	width:95%;
	padding: 20px 0px 10px 55px;
}
#content #left
{
	float:left;
	width:30%;
	margin:0px 10px 10px 20px;
	
}
#category
{
	width:95%;
}
#category ul
{
	width:100%;
	list-style:circle;
}
#category ul li a
{
	color:#5c5b5a;
	font-size:13px;
}
#login
{
	width:95%;
}
#login #username, #password
{
	margin-left: 30px;
	margin-bottom:20px;
	border-radius: 5px;
	box-shadow: none;
	border: #bdbdbd solid 1px;
}
#remember
{
	margin-left:30px;
	margin-bottom:20px;
}
#login span
{
	font-size:12px;
}
#login-btn
{
	background-image:url(../img/bgr-login-btn.png);
	background-repeat:repeat-x;
	height: 22px;
	line-height:22px;
	border-radius: 5px;
	font-size:10px;
	border:none;
	color:white;
	width:60px;
	margin-left:30px;
}
#right
{
	float:left;
	width: 65%;
}
#list-sp
{
	width:100%;
	overflow:hidden;
}

.chi-tiet-sp
{
	float:left;
	width:90%;
	height:300px;
	box-shadow: 5px 5px 5px #4c4c4c;
	margin: 10px 10px 10px 10px;
	padding: 10px 20px 20px 20px;
	border-radius: 5px;
	border: #bdbdbd solid 1px;
}

.mot-sp
{
	float:left;
	width:300px;
	height:300px;
	box-shadow: 5px 5px 5px #4c4c4c;
	margin: 10px;
	border-radius: 5px;
	border: #bdbdbd solid 1px;
	text-align:center;
}
.mot-sp img
{
	margin-top: 10px;
	margin-bottom:10px;
}
.mot-sp p
{
	color:#5c5b5a;
	font-size:13px;
}
#phan-trang
{
	margin-left:150px;
	margin-top:20px;
	margin-bottom:10px;
}
#footer
{
	 background-color:#e6e2e1;
	 width:100%;
	 border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	height:120px;
}
#footer img
{
	margin: 30px 0px 0px 30px;
}

